

          <!DOCTYPE html>
          <html lang="en">
          <head>

            <meta charset="utf-8">
            {% load staticfiles %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>transportapp</title>

            <link rel="stylesheet" href="{% static 'transportapp/css/bootstrap.min.css' %}" type = "text/css"/>
            <link rel="stylesheet" href="{% static 'transportapp/css/bootstrap-datetimepicker.min.css' %}" type = "text/css"/>
            <link rel="stylesheet" href="{% static 'transportapp/css/scrolling-nav.css' %}" type = "text/css"/>
            <link href="static/transportapp/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
            {% block headin %}
            {% endblock %}
          </head>
          <body>
          <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<!--          <div id="page-preloader"><p class="spinner"><img src="static/transportapp/img/gif.gif" alt=""></p></div> -->

          <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

              <!-- Navigation -->
              <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
                  <div class="container">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header page-scroll">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                          </button>
                          <a class="navbar-brand" href="/#page-top">transportapp</a>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav navbar-right">
                              <li class="hidden">
                                  <a href="/#page-top"></a>
                              </li>
                              <li class="page-scroll">
                                  <a href="/#postcards">analyze</a>
                              </li>
                              {% if user.is_authenticated %}
                                <li>
                                  <a href="/add/">IN</a>
                                </li>
                                <li>
                                  <a href="/add_stand/">OUT</a>
                                </li>
                              {% endif %}
                              <li class="page-scroll">
                                  <a href="/#portfolio">about</a>
                              </li>
                              <li class="page-scroll">
                                  <a href="/#contact">contact</a>
                              </li>
                              {% if user.is_authenticated %}
                                <li><a href="{% url 'logout'%}?next={{request.path}}">logout</a></li>
                              {% else %}
                                <li><a href="{% url 'login'%}?next={{request.path}}">login</a></li>
                              {% endif %}
                          </ul>
                      </div>
                      <!-- /.navbar-collapse -->
                  </div>
                  <!-- /.container-fluid -->
              </nav>
{% block content %}

{% endblock %}
              <!-- Footer -->
              <footer class="text-center">

                  <div class="footer-below">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-12">
                                  Copyright &copy; Anna Belogorodtseva 2017
                              </div>
                          </div>
                      </div>
                  </div>
              </footer>


              <!-- jQuery -->
              <script src="static/transportapp/js/jquery.js"></script>

              <!-- Bootstrap Core JavaScript -->
              <script src="static/transportapp/js/bootstrap.min.js"></script>

              <!-- Scrolling Nav JavaScript  -->
              <script src="static/transportapp/js/jquery.easing.min.js"></script>
              <script src="static/transportapp/js/scrolling-nav.js"></script>
              <script src="static/transportapp/js/freelancer.js"></script>
              <script src="static/transportapp/js/scrolling-nav.js"></script>
              <script src="static/transportapp/js/freelancer.js"></script>
              <script src="static/transportapp/js/moment.js"></script>
              <script src="static/transportapp/js/bootstrap-datetimepicker.js"></script>
              
              <script>
                  $(window).on('load', function () {
                    var $preloader = $('#page-preloader'),
                        $spinner   = $preloader.find('.spinner');
                    $spinner.delay(1350).fadeOut();
                    $preloader.delay(1500).fadeOut('slow');
                });
              </script>

          </body>

          </html>
