{% extends "transportapp/index.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="top:100px;">
            <h2>RESULT</h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 portfolio-item">


        </div>
        <div class="col-sm-10 portfolio-item"style="top:100px;">

        {% for r in content %}
          {% for ar in r %}
          {% for car in ar %}
            <h3>{{car}}</h3>
          {% endfor %}
          <hr>
          {% endfor %}
        {% endfor %}

        </div>
        <div class="col-sm-1 portfolio-item">



        </div>


    </div>
</div>
{% endblock %}
